.card-client {
  margin-bottom: 60px;
  margin-top: 15px;
  padding: 1.25rem;
}

.table-scroll {
  overflow-x: auto;
}
.form-card {
  margin: auto;
  width: 90%;
}

.tab-content {
  margin-top: 20px;
}

.form-card .form-client {
  display: flex;
  flex-direction: column;
}

.form-card .form-client > *, .min-col > * {
  width: 100%;
}

.submit {
  text-align: center;
}
